*{
    box-sizing: border-box;
    margin: 0 auto;
}
main{
    background: hsl(0, 0%, 8%);
    padding: 4rem 1rem;
}
.social-link-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 25rem;
    background: hsl(0, 0%, 12%);
    gap: 15px;
    padding: 2rem 1rem;
    border-radius: 10px;
    margin: 0 auto;
}
.header-image{
    border-radius: 50%;
    height: 100px;
}
.header{
    color: hsl(0, 0%, 100%);
}
.para-one{
    color: hsl(75, 94%, 57%);
}
.para-two{
    color: hsl(0, 0%, 100%);
    font-size: 14px;
}
.social-link-button-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.social-link-button{
    padding: 1rem 6rem;
    width: 100%;
    border-radius: 10px;
    background: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: bold;
}
.social-link-button:hover{
    background: hsl(75, 94%, 57%);
}
@media(min-width: 768px){
    .social-link-section{
        padding: 4rem;
    }
    .social-link-container{
        gap: 20px;
        margin: 0 auto;
    }
}




